*{
margin: 0;
padding:0;
box-sizing: border-box;
}

:root{

    font-size: 62.5%;
}

body{

    font-size: 1.6rem;
    background: rgb(35,160,35);
  
}

.game-board{
    width: 100%;
    height:70vh;
    border-bottom: 1.5rem solid rgb(35,160,35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 8rem;
    animation: pipe-animation 2s infinite linear;
    /* left: 12rem; */
}

.mario{

    width: 15rem;
    position: absolute;
    bottom: 0;
   
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 55rem;
    padding-top: 2rem;
    animation: clouds-animation  20s infinite linear;
}

.hidden{
    display:none;
}
.game-over{
    position: absolute;
    width: 40rem;
    top: 12rem;
    left: 42%;
   
}
@keyframes pipe-animation{

   0% {
right: -8rem;

   } 

   100%{
right: 100%;
   }
}

@keyframes jump {
    0%{
bottom: 0;
    }

    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes clouds-animation {
    0%{
    right:-55rem;
    }

    100%{
right: 100%;
    }
}

@media (max-width:768px) {
    .mario{
        width: 10rem;
    }

    .pipe{
        width:4rem;
    }
    .clouds{
width: 10rem;
    }

    .game-over{
        width: 20rem;
    }
}